/.project
/.pydevproject
/.cproject
/.settings
#/Sandbox/
#/sandbox/
#CMakeFiles/
#CMakeCache.txt
#NOTES.rst
#/build/


# Build artifacts
build/
**/*.Debug.args
**/*.Release.args
**/*.cmake
!CMake/*.cmake
!docs/FindSphinx.cmake
CMakeDoxyfile.*
**/CMakeCache.txt
**/*..args
**/*Init.data
**/Makefile
**/CMakeFiles
**/CTestTestfile.cmake
**/cmake_install.cmake
**/*.so
**/*.a
**/*.o
**/*Python.cxx
**/*Init.cxx
**/*InitImpl.cxx
Wrapping/Tools/msfWrapPython
lib
bin
**Module.h
DartConfiguration.tcl
install_manifest.txt
stk.egg-info/

# Test programs
Examples/*Test